@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&family=Roboto+Mono&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

root {
    --verde: #3b7d15;
    --azul: #10225e;
}

body {
    max-width: 98%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #3b7d15;
    padding: 1rem;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

ul {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 1rem;
}

.menu a {
    text-decoration: none;
    font-size: large;
    color: #0d6efd;
}

.containerImages {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.containerImages img {
    max-width: 500px;
}

.contendorServicios {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 2rem;
}

#servicios {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}

.titles {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.card {
    margin: .4rem;
    border: 3px solid #3b7d15;
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    min-width: 20%;
    height: 100%;
}

.card>img {
    width: 50px
}

.mosaicos {
    padding: 1rem;
}

.containerSection {
    display: flex;
    align-items: center;
    font-size: large;
}

.mosaicos section:nth-child(1) {
    flex-direction: row-reverse;
}

.mosaicos section:nth-child(3) {
    flex-direction: row-reverse;
}

.left,
.right {
    width: 50%;
}

.left>p,
h3 {
    padding: .5rem;
    text-align: center;
    font-size: 19px;
}

.right img {
    width: 100%;
    border-radius: 3px;
}

#maps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #3b7d15;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav>ul {
        flex-direction: column;
    }
    #servicios {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .card {
        height: auto;
        width: auto;
    }
    .right,
    .left {
        width: 100%;
    }
    .mosaicos section:nth-child(1) {
        flex-direction: column;
    }
    .mosaicos section:nth-child(2) {
        flex-direction: column;
    }
    .mosaicos section:nth-child(3) {
        flex-direction: column;
    }
    .mosaicos section:nth-child(4) {
        flex-direction: column;
    }
    iframe {
        width: 70%;
    }
}

.containerImages {
    width: 85vw;
}

.containerImages img {
    height: 100%;
    flex: 1;
    height: 60vmin;
    display: flex;
    gap: 5px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

.containerImages img:hover {
    flex: 4;
}